// colors
$pirmary: #5b4681;
$light-grey: #f9f9f9;
$dark-grey: #777777;

// distance
$max-width: 70rem;

// fonts
$base-font-size: 1.6rem;
$large-font-size: 1.8rem;

// form inputs
$input-border: #dddddd;
$input-space: 1rem;

// box view
$boxed-view-bg: #dddddd;
$boxed-view-box-bg: #ffffff;

// button
$button-bg: $pirmary;
$button-color: #ffffff;
$button-pill-color: $pirmary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border: #dddddd;