.mdb-convert--content {
    max-width: 100vw;
    border-collapse: collapse;
    border: 1px solid black;
}

.mdb-convert--table {
    max-width: 100vw;
    width: 100%;
}

thead,
tbody,
th,
td,
tr {
    border: 1px solid black;
}